/*Puzzle.css*/

.puzzle {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  border: 2px solid #f76707;
  background-color: #fff4e6;
  align-self: center;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
}

.subGrid {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  border: 2px solid #f76707;
  background-color: #fff4e6;
  align-self: center;
}
