/*Square.css*/

.Square-Input {
  text-align: center;
  width : 20px;
  height: 20px;
  border: 2px solid #ffa94d;
  border-radius: 5px;
  padding: 1em;
  color: #d9480f;
  text-align: center;
}

* {box-sizing: border-box;}
